{% extends 'base_index.html' %}
{% load static %}
{% block titulo %}Murilo Scorsato{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock %}

{% block body %}
<!-- Título fixo -->
<div class="fixed-header">
    Portifólio - Murilo Barbosa Scorsato
</div>

<div class="container-fluid vh-100 content-padding">
    <div class="row">
        <!-- Coluna esquerda rolável -->
        <div class="col-md-6 scroll-column" style="background-color: #ffffff;">
            <!-- Conteúdo adicional -->
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
        </div>

        <!-- Coluna direita fixa -->
        <div class="col-md-6 fixed-right-column" style="background-color: #000000;">
            <p><font color="blue">murilo scorsato</font></p>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
        </div>
    </div>
</div>
{% endblock %}
