{% extends 'base_index.html' %}
{% load static %}
{% block titulo %}Murilo B. Scorsato{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}

{% block body %}
<!-- Título fixo -->
<div class="fixed-header">
    Portifólio - Murilo Barbosa Scorsato
</div>

<div class="container-fluid vh-100 content-padding">
    <div class="row">
        <!-- Coluna esquerda rolável -->
        <div class="col-md-6 scroll-column" style="background-color: #ffffff;">
            <!-- Conteúdo adicional -->
            <div class="video">
                <iframe width="350" height="255" src="https://www.youtube.com/embed/Cwj6EIphNmQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <hr>
            <span class="badge rounded-pill text-bg-primary"> Aqui estão os meus projetos rodando com o GitHub. </span>
            <div class="cards-sistemas">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-12">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
            </div>


<hr>

         <br><br>   murilo barboso scorsato
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
            murilo barboso scorsato <br><br>
        </div>

        <!-- Coluna direita fixa -->
        <div class="col-md-6 fixed-right-column" style="background-color: #000000;">
            <div class="lado-direito">
                <p><font color="blue">murilo scorsato</font></p><br><br><br>
                <!-- WhatsApp -->
<a href="https://wa.me/your-number" target="_blank">
    <i class="fab fa-whatsapp"> Contato mais rápido comigo</i>
</a><br><br>

<!-- Instagram -->
<a href="https://www.instagram.com/your-profile" target="_blank">
    <i class="fab fa-instagram"> Saiba quem sou</i>
</a><br><br>

<!-- LinkedIn -->
<a href="https://www.linkedin.com/in/your-profile" target="_blank">
    <i class="fab fa-linkedin"> Meus feitos profissionais</i>
</a><br><br>

<!-- YouTube -->
<a href="https://www.youtube.com/@muriloscorsato9021" target="_blank">
    <i class="fab fa-youtube"> Geralmente falo sobre assuntos mais técnicos</i>
</a><br><br>

                murilo barboso scorsato <br><br>
                murilo barboso scorsato <br><br>
                murilo barboso scorsato <br><br>
                murilo barboso scorsato <br><br>
                murilo barboso scorsato <br><br>
                murilo barboso scorsato <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
