{% extends 'base_index.html' %}
{% load static %}
{% block titulo %}Murilo B. Scorsato{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'index/css/custom.css' %}">
{% endblock %}

{% block body %}
<!-- Título fixo -->
<div class="fixed-header">
    Portifólio - Murilo Barbosa Scorsato
</div>

<div class="container-fluid vh-100 content-padding">
    <div class="row">
        <!-- Coluna esquerda rolável -->
        <div class="col-md-6 scroll-column" style="background-color: #ffffff;">
            <!-- Conteúdo adicional -->
            <div class="video">
                <iframe width="350" height="255" src="https://www.youtube.com/embed/KRaDzFtPtoM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <hr>
            <a href="#redes-sociais" onclick="highlightRedesSociais()">
                <h2><span class="badge text-bg-primary">Conheça as minhas redes sociais</span></h2>
            </a>

            <div class="cards-sistemas">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Exemplo de conteúdo estático -->
            <p>murilo barboso scorsato</p>
            <p>murilo barboso scorsato</p>
            <p>murilo barboso scorsato</p>
        </div>

        <!-- Coluna direita fixa -->
        <div class="col-md-6 fixed-right-column" style="background-color: #000000;">
            <div class="lado-direito text-center" id="redes-sociais"><br>
                <!-- Exibindo a imagem com tamanho controlado -->
                <img src="{{ lado_direito.foto.url }}" alt="Foto de {{ lado_direito.email }}" class="img-fluid rounded-start" style="max-width: 200px; height: auto; width: 100%;"><br><br>

                <!-- Conteúdo de redes sociais a ser destacado -->
                <div class="highlight-target">
                    <!-- Email -->
                    <a href="mailto:{{ lado_direito.email }}" target="_blank" style="color: white;">
                        <i class="fas fa-envelope"> scorsato86murilo@gmail.com</i>
                    </a><br><br>

                    <a href="https://wa.me/+55{{ lado_direito.zap }}" target="_blank" style="color: #25D366;">
                        <i class="fab fa-whatsapp"> zap +55 (16) 99984-6400</i>
                    </a><br><br>

                    <!-- Instagram -->
                    <a href="https://www.instagram.com/{{ lado_direito.instagram }}" target="_blank" style="color: #E1306C;">
                        <i class="fab fa-instagram"> Instagrram </i>
                    </a><br><br>

                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/{{ lado_direito.linkedin }}" target="_blank" style="color: #0077B5;">
                        <i class="fab fa-linkedin"> LinkeDin</i>
                    </a><br><br>

                    <!-- YouTube -->
                    <a href="https://www.youtube.com/@{{ lado_direito.youtube }}" target="_blank" style="color: #FF0000;">
                        <i class="fab fa-youtube"> YouTube</i>
                    </a><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function highlightRedesSociais() {
        const element = document.querySelector('.highlight-target');
        element.classList.add('highlight');

        // Remover o destaque após 2 segundos
        setTimeout(() => {
            element.classList.remove('highlight');
        }, 2000);
    }
</script>
{% endblock %}
