{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'gestao_salario/css/gestao_salario.css' %}">
  </head>
  <body>
    <h4>{{nome}}, Administre seu salário</h4>
    <div class="container mt-5 text-center">
      <h2>Salário</h2>
      <form action="{% url 'gestao_salario_painel' %}" method="post">{% csrf_token %}
        <div class="mb-3">
          <label for="salario" class="form-label">Digite seu salário para análise</label>
          <input type="number" class="form-control" id="salario" placeholder="Digite seu Salário" name="salario" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Confirmar</button>
        <br><br>
      </form>
    </div>

    <hr>

    <div class="container2">
      <div class="col1">
        <span class="badge badge-large rounded-pill text-bg-secondary">GESTÃO</span>
        <label class="titulo"></label>
        <br><br>
        <h6>Salário: {{ultimo_salario}}</h6>
        <button type="button" class="btn btn-dark">Tópicos de gastos</button><br><br>
        <button type="button" class="btn btn-success">Gráficos/Editar Salário</button><br><br>
        <a href="{% url 'logout_view_sair' %}"><button type="button" class="btn btn-danger">SAIR</button></a><br><br>
      </div>

      <div class="col2">
        <span class="badge badge-large rounded-pill text-bg-secondary">Alimentação</span>
        <label class="titulo">
          <br>
          (R$ 712,25) 30% do salário comprometido com Alimentação<br><br>
        </label>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 30%"></div>
        </div>
        <hr>
        <button type="button" class="btn btn-info">EDITAR</button>
      </div>

      <div class="col3">
        <span class="badge badge-large rounded-pill text-bg-secondary">Saúde</span>
        <label class="titulo">
          <br>
          (R$ 1237,09) 51% do salário comprometido com saúde<br><br>
        </label>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">
          <div class="progress-bar" style="width: 50%"></div>
        </div>
        <hr>
        <button type="button" class="btn btn-info">EDITAR</button>
      </div>

      <div class="col4">
        <span class="badge badge-large rounded-pill text-bg-secondary">Lazer</span>
        <label class="titulo">
          <br>
          (R$ 512,11) 19% do salário comprometido com Lazer<br><br>
        </label>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 20%"></div>
        </div>
        <hr>
        <button type="button" class="btn btn-info">EDITAR</button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
