{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
     <link rel="stylesheet" href="{% static 'sistema_de_login/css/recuperar_senha.css' %}">

</head>
<body>
    <div class="container">
        <label class="voltar">
            <a href="{% url 'sistema_login_entrar' %}"><h4>Voltar</h4></a>
        </label>
        <hr>
        <h2>Recuperar Senha</h2>
        <h3>Digite o E-mail cadastrado</h3>
        <hr>
        <div class="message">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        <center>{{message}}</center>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <form action="{% url 'enviar_email' %}" method="post">
            {% csrf_token %}
            <label for="email_recuperar">Email:</label>
            <input type="email" id="email_recuperar" placeholder="Email para a nova senha" name="email_recuperar">
            <input type="submit" value="NOVA SENHA">
        </form>
    </div>
</body>
</html>
